<h1>
	Sign Up Form!
</h1>

<form acrion="/register" method="POST">
	<input type="text" name="username" placeholder="name">
	<input type="password" name="password" placeholder="password">
	<button>
		Submit
	</button>
</form>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>